* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 70px 8%;
  max-width: 1600px;
  width: 100%;
}

body {
  background-color: #e8e8e8;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 16px;
  margin: 0 auto;
  align-items: center;
  border-radius: 50px;
  background-color: #ffffffc5;
  position: fixed;
  z-index: 9;
  width: 90%;
  margin-top: 15px;
  left: 50%;
  max-width: 1600px;
  transform: translate(-50%);
  filter: 25px blur(background-color);
}
.logo {
  background-color: #000;
  border-radius: 25px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: left;
}
.logo img {
  width: 20px;
  height: 20px;
}
.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

nav ul {
  display: flex;
  gap: 30px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
  font-size: 20px;
}
nav ul li a:hover {
  color: #646765;
}

.btn-send a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #000;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}
.btn-send a:hover {
  background-color: #eafa72;
  border: none;
}
/* -------------------- navbar responsive ------------- */

#menu {
  display: none;
}
@media screen and (max-width: 1000px) {
  nav {
    width: 75%;
    margin: 15px auto;
    gap: 30px;
    text-align: left;
  }
  nav ul,
  .btn-send {
    display: none;
  }
  nav ul {
    gap: 15px;
  }
  #menu {
    display: block;
    font-size: 30px;
    border-radius: 50%;
    padding: 0 16px;
    flex-direction: column;
  }
  .show-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 70px;
    left: 0;
    border-radius: 20px;
    height: 280px;
    padding-top: 30px;
  }
  .show-btn {
    display: block;
    position: absolute;
    top: 280px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 70px 10%;
  }
  nav {
    width: 100%;
  }
}

/* ---------------------- hero ------------------ */

.hero {
  display: flex;
  padding-top: 70px;
  margin-bottom: 9rem;
}

.hero-left {
  width: 50%;
  padding-top: 10%;
}

.hero-text {
  padding: 60px 0 50px;
}

.hero-left h1 {
  font-size: 3.5rem;
  line-height: 76px;
  font-weight: 100;
}

.hero-left h1:nth-child(2) {
  padding-bottom: 60px;
}

.hero-left a {
  padding: 25px 80px;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 35px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.hero-left a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3rem;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  filter: blur(25px) blur(25px);
  background-color: #eafa72;
  z-index: -1;
}

.hero-right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  padding: 20px;
  height: 600px;
}

.hero-right::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  filter: blur(35px) blur(35px);
  background-color: #eafa72;
}

.hero-right::after {
  content: "";
  position: absolute;
  right: 0;
  top: 43%;
  border-radius: 100%;
  border: 2px solid #f2f2f2;
  width: 550px;
  height: 550px;
  background-color: transparent;
  z-index: -1;
}

.hero-right img {
  border-radius: 10px;
  box-shadow: 6px 6px 20px #6e716f;
}

.img-1 {
  width: 270px;
  height: 200px;
  object-fit: cover;
  transform: rotate(5deg);
  position: absolute;
  top: 10%;
  left: 0;
}

.img-2 {
  width: 270px;
  height: 270px;
  object-fit: cover;
  position: absolute;
  top: 30%;
  left: 3rem;
  z-index: 2;
  transform: rotate(18deg);
  margin-top: 100px;
}

.img-3 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 1rem 0 0 auto;
  right: 0;
  top: 40%;
  position: absolute;
  transform: rotate(-5deg);
}

.img-4 {
  max-width: 270px;
  height: 250px;
  object-fit: cover;
  margin: 1rem 0 0 auto;
  z-index: 2;
  right: 0;
  top: 86%;
  position: absolute;
  transform: rotate(-5deg);
}

@media screen and (max-width: 750px) {
  .hero {
    margin-bottom: unset;
  }
  .hero-right {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    height: unset;
  }
  .hero-right img {
    width: 100%;
    position: unset;
  }

  .hero-left h1 {
    font-size: 1.24rem;
    line-height: 1.2;
    font-weight: 500;
  }

  .hero-right::after {
    display: none;
  }
}

@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
    gap: 8px;
    margin-bottom: unset;
  }
  .hero-right::before{
    width: 200px;
    height: 200px;
  }
  .hero-right::after{
    width: 350px;
    height: 350px;
  }
  .hero-left {
    width: 100%;
  }
  .hero-right {
    width: 100%;
  }
  .img-3{
    top: 5%;
  }
  .img-4{
    top: 50%;
  }
}

/* ---------------------- user-social -------------------- */

.user-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 4rem;
  background-color: #101511;
}

.user {
  color: #eafa72;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user i {
  font-size: 50px;
}

.u-social {
  color: #eafa72;
  display: flex;
  align-items: center;
  gap: 10px;
}
.u-social i {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 10px;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  width: 31px;
  height: 31px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.u-social i:hover {
  color: #5d6904;
}

@media (max-width: 1000px) {
  .user-social {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}

/* ----------------------- read-more ----------------- */

.read-title {
  font-size: 2.8rem;
  text-align: center;
  margin: 50px auto 60px;
}

.read-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.read-left {
  width: 45%;
  padding: 0 78px 48px;
  background-color: #000;
  color: #fff;
  border-radius: 38px;
  transform: rotate(-5deg);
}
.read-sec-titel {
  background-color: #eafa72;
  width: 180px;
  color: #000 !important;
  margin: 0 0 30px;
  text-align: center;
  border-radius: 20px;
  transform: rotate(-18deg);
}
.read-left b {
  line-height: 1.5;
  font-size: 1.5rem;
}

.read-left p {
  line-height: 1.5;
  padding: 20px 0;
  font-size: 1.3rem;
  color: #dddddd;
}
.read-left a {
  text-decoration: none;
  color: #eafa72;
  font-size: 1.5rem;
}
.read-right {
  width: 45%;
  background-color: #fff;
  color: #000;
  padding: 0 78px 48px;
  border-radius: 38px;
  transform: rotate(5deg);
}
.read-sec-titel-right {
  font-size: 1.5rem;
  padding: 20px;
  background-color: #000;
  width: 200px;
  color: #fff !important;
  margin: 10px 0 30px;
  text-align: center;
  border-radius: 20px;
  transform: rotate(18deg);
}
.read-right b {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #6e716f;
}
.read-right p {
  line-height: 1.5;
  padding: 20px 0;
  font-size: 1.3rem;
  color: #6e716f;
}
.read-right a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
}

@media (max-width: 1000px) {
  .read-sec {
    flex-direction: column;
  }
  .read-left,
  .read-right,
  .read-right p,
  .read-right b {
    width: 100%;
    margin: 0 auto;
    padding: 32px;
  }
}

@media (max-width: 600px) {
  .read-sec-titel,
  .read-sec-titel-right {
    padding: 16px 32px;
  }
  .read-left b,
  .read-left p {
    line-height: 1.2;
    font-size: 1.1rem;
  }
}

/* --------------------- features --------------------- */

.features {
  background-color: #101511;
  color: #ffffff;
}

.features h3 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 70px;
}

.feature-1 {
  display: flex;
}

.feature-img-box {
  background-color: #eafa72;
  width: 55%;
  height: 550px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.feature-img-box img {
  width: 90%;
  height: 75%;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 2px 3px 6px #707171;
}

.feature-info {
  margin-left: 70px;
  width: 30%;
}
.feature-info h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 100px;
  color: #eafa72;
}
.feature-info p {
  font-size: 2.25rem;
  line-height: 49px;
}

@media (max-width: 1000px) {
  .feature-1 {
    flex-direction: column;
  }
  .feature-img-box {
    width: 100%;
    height: 400px;
    margin-bottom: 1.5rem;
  }
  .feature-info {
    margin: 0;
    width: 100%;
  }
  .feature-info h1 {
    margin-bottom: 40px;
  }
}

/* ------------------ feature-2 ---------------------  */

.feature-2 {
  display: flex;
}

.feature-2-info {
  width: 45%;
}

.feature-2-info h1 {
  font-size: 3.5rem;
  margin-bottom: 100px;
  font-weight: 400;
}

.feature-2-info p {
  font-size: 2.25rem;
  line-height: 49px;
}

.feature-img-box-2 {
  background-color: #ffffff;
  width: 55%;
  height: 550px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.feature-img-box-2 img {
  width: 90%;
  object-fit: cover;
  height: 75%;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 2px 3px 6px #707171;
}

@media (max-width: 1000px) {
  .feature-2 {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .feature-2-info {
    width: 100%;
  }
  .feature-2-info h1 {
    margin-bottom: 40px;
  }
  .feature-img-box-2 {
    width: 100%;
    height: 400px;
  }
}

/* ------------------- Business------------------------- */

.Business h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: 400;
}
.Business p {
  text-align: center;
  color: #6e716f;
  font-size: 1.3rem;
}

/* --------------------- partners --------------- */

.partners {
  background-color: #101511;
}

.partners h1 {
  color: #fff;
  text-align: center;
  padding: 45px;
  font-size: 2.8rem;
  font-weight: 400;
}

.partners-box {
  background-color: #f2f2f2;
  width: 50%;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  border-radius: 20px;
  padding: 20px 45px;
  margin-bottom: 40px;
  position: relative;
}

.partners-box h3 {
  font-size: 40px;
  text-align: center;
}

.partners-box ul {
  position: relative;
  padding: 20px;
}

.partners-box ul li {
  list-style: none;
  font-size: 1.25rem;
  color: #6e716f;
  line-height: 1.55;
  margin-bottom: 1rem;
}
.partners-box ul li::before {
  content: "x";
  color: #000;
  position: absolute;
  left: 5px;
}

.partners-box a {
  text-decoration: none;
  font-size: 16px;
  background-color: #eafa72;
  width: 200px;
  color: #5d6904;
  text-align: center;
  padding: 20px;
  border-radius: 27px;
  font-weight: 600;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
}
.partners-box a:hover {
  color: #000;
}

.partners img {
  position: absolute;
  width: 300px;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
}

.partners-img-1 {
  top: -5%;
  right: -40%;
}

.partners-img-2 {
  bottom: -8%;
  left: -40%;
}

@media (max-width: 1000px) {
  .partners img {
    display: none;
  }
  .partners-box {
    width: 100%;
  }
}

/* ----------------- FAQ----------------- */

.FAQ-title {
  text-align: center;
  padding: 30px;
}
.FAQ-title h4 {
  font-size: 50px;
  line-height: 2;
}
.FAQ-title p {
  font-size: 40px;
}

.Question-box {
  position: relative;
  border-top: 1px solid #fff;
}

.Question {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

.Question h3 {
  font-size: 25px;
}

.Question i {
  background-color: #000;
  color: #eafa72;
  font-size: 30px;
  padding: 10px 12px;
  border-radius: 50px;
  transition: 0.5s all ease-in-out;
}

.Question:hover i {
  background-color: #eafa72;
  color: #000;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.answer p {
  line-height: 1.4;
  color: #646765;
  font-size: 22px;
}

.Question-box.active .answer {
  max-height: 300px;
}

.Question-box.active .Question i {
  transform: rotate(-50deg);
}

@media (max-width: 1000px) {
  .Question h3 {
    font-size: 1.25rem;
  }
  .Question i {
    padding: 8px 10px;
  }
  .answer p {
    font-size: 1.25rem;
  }
}

/* -------------------- suppliers ------------------- */

.suppliers {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 50px auto;
}

.suppliers h1 {
  font-size: 30px;
  padding: 50px;
}

.suppliers p {
  font-size: 20px;
  padding-bottom: 60px;
}

.supplier-box {
  width: 50%;
  margin: 0 auto;
  height: 300px;
  position: relative;
}

.overly {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000080;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.supplier-box:hover .overly {
  opacity: 1;
}

.supplier-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  border-radius: 40px;
}

.supplier-box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  background-color: #eafa72;
  color: #000;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: 0.7s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.supplier-box:hover i {
  transform: translate(-50%, -50%) rotate(180deg);
}

@media (max-width: 1000px) {
  .supplier-box {
    width: 100%;
  }
}

/* ----------------- contact --------------------  */

.contact {
  width: 50%;
}

.contact-title h1 {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 400;
}
.contact-title p {
  color: #6e716f;
  text-align: center;
  padding: 20px;
  font-size: 1.3rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}

.contact form input {
  padding: 18px 20px;
  border-radius: 35px;
  outline: none;
  border: none;
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.url-text {
  margin: 20px 0 15px;
  font-size: 20px;
}

.check-text {
  padding: 20px 0;
  font-size: 18px;
}

form button {
  width: 60%;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 20px;
  border-radius: 30px;
  transition: 0.5s;
  font-size: 1.25rem;
  font-weight: 600;
}

form button:hover {
  background-color: #eafa72;
  color: #000;
}

@media (max-width: 1000px) {
  .contact {
    width: 100%;
  }
  .contact form {
    width: 100%;
  }
  .check-text {
    font-size: 1.25rem;
  }
  form button {
    width: 200px;
  }
}

/* ------------------ footer ----------------- */

footer {
  background-color: #101511;
  color: #fff;
}
.footer-top {
  font-size: 2.25rem;
  padding: 0 10%;
  position: relative;
  z-index: 1;
}

.footer-top::before {
  content: "\e965";
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #eafa72;
  filter: blur(75px) blur(75px);
  top: 0;
  left: 10%;
  z-index: -1;
}

@media (max-width: 1000px) {
  .footer-top {
    padding: unset;
  }
  .footer-top::before {
    left: 0;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;
}
.footer-left h1 {
  font-weight: 500;
  font-size: 2.25rem;
}

.footer-left a {
  transition: 0.5s ease-in-out;
  font-size: 1.25rem;
}
.footer-left a:hover {
  color: #646765;
}
.footer-left a:hover .footer-left a i {
  background-color: #525653;
}
.footer-social {
  padding: 20px 0;
  display: flex;
}
.footer-bottom i {
  background-color: #646765;
  color: #fff;
  padding: 7px 7px;
  margin-right: 10px;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer-social a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.footer-social a:nth-child(1) {
  margin-right: 20px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 2rem;
  font-size: 1.25rem;
}
.footer-right a {
  color: #fff;
  text-decoration: none;
  line-height: 1.7;
  transition: 0.4s ease-in-out;
}
.footer-right a:hover {
  color: #eafa72;
}
.Copyright {
  margin-top: 2rem;
  color: #6e716f;
}

@media (max-width: 750px) {
  .footer-bottom,
  .footer-social,
  .footer-right {
    flex-direction: column;
    gap: 1rem;
  }
  .footer-left,
  .footer-right {
    text-align: center;
  }
  .Copyright {
    margin-top: 1rem;
  }
}
